/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

@font-face {
  font-family: "Wisdom Script";
  src: url("../fonts/Wisdom-Script/Wisdom-Script.woff") format("woff"), url("../fonts/Wisdom-Script/Wisdom-Script.woff2") format("woff2"), url("../fonts/Wisdom-Script/Wisdom-Script.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Sacramento";
  src: url("../fonts/Sacramento/Sacramento-Regular.woff") format("woff"), url("../fonts/Sacramento/Sacramento-Regular.woff2") format("woff2"), url("../fonts/Sacramento/Sacramento-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/Libre-Baskerville/LibreBaskerville-Regular.woff") format("woff"), url("../fonts/Libre-Baskerville/LibreBaskerville-Regular.woff2") format("woff2"), url("../fonts/Libre-Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/Libre-Baskerville/LibreBaskerville-Bold.woff") format("woff"), url("../fonts/Libre-Baskerville/LibreBaskerville-Bold.woff2") format("woff2"), url("../fonts/Libre-Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

body {
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1;
  color: #616161;
  background-color: #fff; }

*::-moz-selection {
  background-color: #fc5f45;
  color: #000; }

*::selection {
  background-color: #fc5f45;
  color: #000; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

picture img {
  display: block; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

@media (max-width: 1170px) {
  .container {
    width: auto;
    padding-left: 15px;
    padding-right: 15px; } }

.button {
  display: inline-block;
  padding: 18px 42px 16px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #fc5f45;
  border-radius: 50px;
  box-shadow: 0 2px 20px rgba(252, 95, 69, 0.7);
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .button:hover {
    background-color: #fc492c; }
  .button:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  .button--turquoise {
    padding-top: 16px;
    padding-bottom: 14px;
    color: #38c695;
    background: transparent;
    border: 2px solid #38c695;
    box-shadow: none; }
    .button--turquoise:hover {
      color: #fff;
      background-color: #38c695; }
  .button--purple {
    padding-top: 16px;
    padding-bottom: 14px;
    color: #b27cf5;
    background: transparent;
    border: 2px solid #b27cf5;
    box-shadow: none; }
    .button--purple:hover {
      color: #fff;
      background-color: #b27cf5; }

.main-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.8))), #3f4049 url("../img/raster/bg-header.jpg") no-repeat center center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)), #3f4049 url("../img/raster/bg-header.jpg") no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)), #3f4049 url("../img/raster/bg-header.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover; }

.main-nav {
  position: fixed;
  z-index: 999;
  max-width: 100%;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25); }
  .main-nav__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 25px 15px; }
  .main-nav__toggle {
    display: none; }
  .main-nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; }
  .main-nav__item {
    margin-right: 18px; }
    .main-nav__item:last-child {
      margin-right: 0; }
  .main-nav__link {
    font-size: 14px;
    line-height: 1;
    color: #272727;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer; }
    .main-nav__link:hover {
      opacity: .8; }
    .main-nav__link::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: transparent;
      -webkit-transform: translateY(28px) scaleX(0);
      -ms-transform: translateY(28px) scaleX(0);
      transform: translateY(28px) scaleX(0);
      -webkit-transition: all .3s;
      transition: all .3s; }
    .main-nav__link:hover::after, .main-nav__link--active::after {
      background-color: #fc5f45;
      -webkit-transform: translateY(28px) scaleX(1);
      -ms-transform: translateY(28px) scaleX(1);
      transform: translateY(28px) scaleX(1); }

@media (max-width: 992px) {
  .main-nav__wrapper {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-bottom: 0; }
  .main-nav__toggle {
    position: absolute;
    top: 22px;
    right: 15px;
    display: inline-block;
    width: 40px;
    height: 32px;
    padding: 0;
    font-size: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    transition: opacity .3s; }
    .main-nav__toggle:hover {
      opacity: .7; }
    .main-nav__toggle:active {
      opacity: .5; }
    .main-nav__toggle span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 2px;
      margin-top: -1px;
      margin-left: -12px;
      background-color: #616161;
      -webkit-transition: opacity .3s;
      transition: opacity .3s; }
      .main-nav__toggle span::before, .main-nav__toggle span::after {
        content: '';
        position: absolute;
        left: 0;
        width: 24px;
        height: 2px;
        background-color: #616161;
        -webkit-transition: all .3s;
        transition: all .3s; }
      .main-nav__toggle span::before {
        top: -6px; }
      .main-nav__toggle span::after {
        top: 6px; }
  .main-nav--open .main-nav__toggle span {
    height: 0; }
  .main-nav--open .main-nav__toggle span::before,
  .main-nav--open .main-nav__toggle span::after {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s; }
  .main-nav--open .main-nav__toggle span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .main-nav--open .main-nav__toggle span::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .main-nav__list {
    display: block;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s;
    transition: max-height .5s; }
  .main-nav--open .main-nav__list {
    max-height: 450px; }
  .main-nav__item {
    margin-right: 0;
    border-bottom: 1px solid #e2e2e2;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .main-nav__item:first-child {
      border-top: 1px solid #e2e2e2; }
    .main-nav__item:hover {
      padding-left: 10px;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
      border-bottom-color: transparent; }
  .main-nav__link {
    font-size: 16px;
    display: block;
    padding: 15px 0;
    padding-left: 30px; }
    .main-nav__link::after {
      display: none; } }

.logo {
  font-family: "Wisdom Script", "Comic Sans", cursive;
  line-height: 35px;
  color: #616161;
  text-decoration: none; }
  .logo::first-letter {
    color: #fc5f45; }
  .logo--header {
    margin-top: -10px;
    font-size: 35px; }
  .logo--footer {
    font-size: 50px; }

@media (max-width: 992px) {
  .logo {
    margin-bottom: 25px; } }

.promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 5%; }
  .promo__slogan {
    margin-bottom: 60px;
    font-family: "Libre Baskerville", "Georgia", serif;
    font-size: 60px;
    line-height: 85px;
    color: #fff;
    text-align: center; }
  .promo__button {
    width: 180px;
    margin: 0 auto;
    margin-bottom: 82px;
    box-sizing: border-box; }
  .promo__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .promo__item {
    width: 250px;
    font: 500 18px/18px "Poppins", "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff; }
    .promo__item--turquoise {
      color: #38c695; }
    .promo__item--purple {
      color: #b27cf5; }
    .promo__item--yellow {
      color: #feb960; }
  .promo__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 35px; }
    .promo__icon--dollar {
      fill: #38c695; }
    .promo__icon--clock {
      fill: #b27cf5; }
    .promo__icon--check {
      fill: #feb960; }

@media (max-width: 992px) {
  .promo__slogan {
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 65px; }
  .promo__item {
    width: 230px;
    font-size: 16px; } }

@media (max-width: 768px) {
  .promo {
    width: 100%; }
    .promo__slogan {
      margin-bottom: 60px;
      font-size: 40px;
      line-height: 65px; }
    .promo__button {
      margin-bottom: 70px; }
    .promo__item {
      width: 200px;
      font-size: 14px; }
    .promo__list {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
    .promo__icon {
      margin-bottom: 20px; } }

@media (max-width: 576px) {
  .promo__slogan {
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 35px; }
  .promo__button {
    margin-bottom: 30px; }
  .promo__item {
    margin-bottom: 15px; }
    .promo__item:last-child {
      margin-bottom: 0; }
  .promo__icon {
    width: 30px;
    margin-bottom: 5px; } }

@media (max-height: 480px) {
  .promo__icon {
    display: none; } }

.section-header {
  text-align: center; }
  .section-header--light {
    color: #fff; }
  .section-header--light .section-header__title {
    color: #fff; }
  .section-header__title {
    position: relative;
    margin-bottom: 15px;
    font: bold 50px/1.6 "Libre Baskerville", "Georgia", serif;
    color: #313131; }
  .section-header__subtitle {
    font: normal 18px/1 "Poppins", "Arial", sans-serif; }

@media (max-width: 992px) {
  .section-header__title {
    font-size: 40px; } }

@media (max-width: 768px) {
  .section-header__title {
    font-size: 35px; } }

.section-number {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  font: 700 276px/202px "Poppins", "Arial", sans-serif;
  text-align: center;
  color: rgba(224, 224, 224, 0.5); }
  .section-number--one {
    text-align: left; }
  .section-number--seven {
    opacity: .4; }

@media (max-width: 992px) {
  .section-number {
    font-size: 250px;
    line-height: 190px; } }

@media (max-width: 768px) {
  .section-number {
    font-size: 180px;
    line-height: 130px; } }

.about__wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 225px;
  padding-bottom: 225px; }

.about__img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  width: 555px;
  max-height: 700px;
  background-color: #9e9e9e;
  border: 10px solid #9f9e9e;
  box-sizing: border-box; }

.about__content {
  position: relative;
  width: 650px;
  margin-left: auto;
  margin-right: 0;
  padding: 77px 85px 100px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; }
  .about__content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, #fc5f45), color-stop(25%, #38c695), color-stop(50%, #38c695), color-stop(50%, #b27cf5), color-stop(75%, #b27cf5), color-stop(75%, #feb960), to(#feb960));
    background: -webkit-linear-gradient(left, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%, #feb960 100%);
    background: linear-gradient(to right, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%, #feb960 100%); }

.about__title {
  position: relative;
  margin-bottom: 20px;
  font: bold 50px/1.6 "Libre Baskerville", "Georgia", serif;
  text-align: left;
  color: #313131; }

.about__text {
  position: relative;
  margin-bottom: 27px;
  font: normal 15px/1.8 "Poppins", "Arial", sans-serif; }
  .about__text:last-child {
    margin-bottom: 0; }

@media (max-width: 992px) {
  .about__wrapper {
    padding-top: 150px;
    padding-bottom: 150px; }
  .about__img {
    width: 450px;
    max-height: 562px; }
  .about__content {
    width: 60%;
    padding: 60px 60px 70px; }
  .about__title {
    margin-bottom: 15px;
    font-size: 40px; }
  .about__text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5; } }

@media (max-width: 768px) {
  .about__wrapper {
    padding-top: 70px;
    padding-bottom: 70px; }
  .about__title {
    font-size: 35px;
    text-align: center; }
  .about__img {
    display: none; }
  .about__content {
    width: 100%;
    padding: 50px 50px 60px; } }

@media (max-width: 576px) {
  .about__wrapper {
    padding-top: 50px;
    padding-bottom: 50px; }
  .about__content {
    padding: 20px 20px 30px; } }

.services {
  background-color: #f7f7f7; }
  .services__wrapper {
    position: relative;
    padding-top: 135px;
    padding-bottom: 150px; }
  .services__header {
    margin-bottom: 80px; }
  .services__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .services__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 22.98%;
    margin-right: 30px;
    padding: 60px 35px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    border-bottom: 3px solid #000; }
    .services__item:last-child {
      margin-right: 0; }
    .services__item--orange {
      border-color: #fc5f45; }
    .services__item--turquoise {
      border-color: #38c695; }
    .services__item--purple {
      border-color: #b27cf5; }
    .services__item--yellow {
      border-color: #feb960; }
  .services__icon {
    height: 49px;
    margin-bottom: 27px; }
    .services__icon--web {
      fill: #fc5f45; }
    .services__icon--ux {
      fill: #38c695; }
    .services__icon--photogrpahy {
      fill: #b27cf5; }
    .services__icon--appdevelop {
      fill: #feb960; }
  .services__heading {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    color: #313131; }
  .services__text {
    max-width: 100%;
    font-size: 15px;
    line-height: 25px; }

@media (max-width: 992px) {
  .services__list {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .services__item {
    width: 45%;
    margin-right: 0;
    margin-bottom: 30px; }
    .services__item:nth-last-child(-n+2) {
      margin-bottom: 0; } }

@media (max-width: 768px) {
  .services__wrapper {
    padding-top: 85px;
    padding-bottom: 70px; }
  .services__header {
    margin-bottom: 50px; }
  .services__item {
    padding: 40px 25px 40px; } }

@media (max-width: 576px) {
  .services__item {
    width: 100%;
    margin-bottom: 30px; }
    .services__item:nth-last-child(-n+2) {
      margin-bottom: 30px; }
    .services__item:last-child {
      margin-bottom: 0; } }

.video {
  background-color: #3f4049; }
  .video__bg {
    height: 650px;
    width: 100%;
    outline: none; }

@media (max-width: 992px) {
  .video__bg {
    height: auto; } }

.portfolio {
  position: relative;
  background-color: #fff; }
  .portfolio__wrapper {
    position: relative;
    padding-top: 135px;
    padding-bottom: 125px; }
  .portfolio__header {
    margin-bottom: 80px; }
  .portfolio__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .portfolio__item {
    position: relative;
    width: 31.6%;
    background-color: red;
    margin: 0;
    margin-right: 20px;
    margin-bottom: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden; }
    .portfolio__item:nth-child(3n+3) {
      margin-right: 0; }
    .portfolio__item:hover .portfolio__descr {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    .portfolio__item img {
      width: 100%; }
  .portfolio__descr {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 64px;
    font: 500 18px/64px "Poppins", "Arial", sans-serif;
    text-align: center;
    color: #313131;
    background-color: #fff;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    .portfolio__descr::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: -webkit-gradient(linear, left top, right top, color-stop(25%, #fc5f45), color-stop(25%, #38c695), color-stop(50%, #38c695), color-stop(50%, #b27cf5), color-stop(75%, #b27cf5), color-stop(75%, #feb960), to(#feb960));
      background: -webkit-linear-gradient(left, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%, #feb960 100%);
      background: linear-gradient(to right, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%, #feb960 100%); }

@media (max-width: 992px) {
  .portfolio__item {
    width: 45%; }
    .portfolio__item:nth-child(2n+2) {
      margin-right: 0; } }

@media (max-width: 768px) {
  .portfolio__wrapper {
    padding-top: 85px;
    padding-bottom: 40px; }
  .portfolio__header {
    margin-bottom: 50px; } }

@media (max-width: 576px) {
  .portfolio__item {
    width: 100%;
    margin-right: 0; } }

.team {
  background-color: #f7f7f7; }
  .team__wrapper {
    position: relative;
    padding-top: 135px;
    padding-bottom: 150px; }
  .team__header {
    margin-bottom: 80px; }
  .team__members {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .team__member {
    max-width: 262px;
    width: 22.98%;
    margin-right: 30px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05); }
    .team__member:last-child {
      margin-right: 0; }
    .team__member--orange {
      color: #fc5f45;
      border-bottom: 3px solid #fc5f45; }
    .team__member--turquoise {
      color: #38c695;
      border-bottom: 3px solid #38c695; }
    .team__member--purple {
      color: #b27cf5;
      border-bottom: 3px solid #b27cf5; }
    .team__member--yellow {
      color: #feb960;
      border-bottom: 3px solid #feb960; }
  .team__wrapper-img {
    position: relative;
    margin-bottom: 14px;
    border: 5px solid #fff; }
    .team__wrapper-img::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .5;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(rgba(252, 95, 69, 0.6)));
      background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 0%, rgba(252, 95, 69, 0.6) 100%);
      background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(252, 95, 69, 0.6) 100%); }
    .team__wrapper-img--orange::after {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(rgba(252, 95, 69, 0.6)));
      background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 0%, rgba(252, 95, 69, 0.6) 100%);
      background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(252, 95, 69, 0.6) 100%); }
    .team__wrapper-img--turquoise::after {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(rgba(56, 198, 149, 0.6)));
      background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 0%, rgba(56, 198, 149, 0.6) 100%);
      background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(56, 198, 149, 0.6) 100%); }
    .team__wrapper-img--purple::after {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(rgba(178, 124, 245, 0.6)));
      background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 0%, rgba(178, 124, 245, 0.6) 100%);
      background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(178, 124, 245, 0.6) 100%); }
    .team__wrapper-img--yellow::after {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(rgba(254, 185, 96, 0.6)));
      background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 0%, rgba(254, 185, 96, 0.6) 100%);
      background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(254, 185, 96, 0.6) 100%); }
  .team__details {
    text-align: center; }
  .team__name {
    margin-bottom: 11px;
    font: 500 18px/1em "Poppins", "Arial", sans-serif; }
  .team__post {
    margin-bottom: 20px;
    font: 400 13px/1em "Poppins", "Arial", sans-serif;
    color: #616161; }

@media (max-width: 992px) {
  .team__members {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .team__member {
    max-width: 45%;
    width: 45%;
    margin-right: 0;
    margin-bottom: 30px; }
  .team__img {
    width: 100%; } }

@media (max-width: 768px) {
  .team__wrapper {
    padding-top: 85px;
    padding-bottom: 70px; }
  .team__header {
    margin-bottom: 50px; } }

@media (max-width: 576px) {
  .team__member {
    max-width: 100%;
    width: 100%; }
    .team__member:last-child {
      margin-bottom: 0; } }

.stats {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(38, 39, 50, 0.85)), to(rgba(38, 39, 50, 0.85))), #3f4049 url("../img/raster/bg-statistics.jpg") no-repeat top;
  background: -webkit-linear-gradient(bottom, rgba(38, 39, 50, 0.85), rgba(38, 39, 50, 0.85)), #3f4049 url("../img/raster/bg-statistics.jpg") no-repeat top;
  background: linear-gradient(to top, rgba(38, 39, 50, 0.85), rgba(38, 39, 50, 0.85)), #3f4049 url("../img/raster/bg-statistics.jpg") no-repeat top;
  background-attachment: fixed;
  background-size: cover; }

.stats__wrapper {
  padding-top: 145px;
  padding-bottom: 125px; }

.stats__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.stats__item {
  position: relative;
  max-width: 262px;
  width: 22.98%;
  padding-bottom: 55px;
  font: 400 15px/1em "Poppins", "Arial", sans-serif;
  text-align: center;
  color: #fefefe; }
  .stats__item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 15px;
    height: 15px;
    margin-left: -8px;
    background-color: #fc5f45;
    border-radius: 50%; }
  .stats__item--orange::after {
    background: -webkit-radial-gradient(#fc5f45 0, #fc5f45 3px, transparent 4px, transparent 5px, #fc5f45 7px, #fc5f45 100%);
    background: radial-gradient(#fc5f45 0, #fc5f45 3px, transparent 4px, transparent 5px, #fc5f45 7px, #fc5f45 100%); }
  .stats__item--turquoise::after {
    background: -webkit-radial-gradient(#38c695 0, #38c695 3px, transparent 4px, transparent 5px, #38c695 7px, #38c695 100%);
    background: radial-gradient(#38c695 0, #38c695 3px, transparent 4px, transparent 5px, #38c695 7px, #38c695 100%); }
  .stats__item--purple::after {
    background: -webkit-radial-gradient(#b27cf5 0, #b27cf5 3px, transparent 4px, transparent 5px, #b27cf5 7px, #b27cf5 100%);
    background: radial-gradient(#b27cf5 0, #b27cf5 3px, transparent 4px, transparent 5px, #b27cf5 7px, #b27cf5 100%); }
  .stats__item--yellow::after {
    background: -webkit-radial-gradient(#feb960 0, #feb960 3px, transparent 4px, transparent 5px, #feb960 7px, #feb960 100%);
    background: radial-gradient(#feb960 0, #feb960 3px, transparent 4px, transparent 5px, #feb960 7px, #feb960 100%); }

.stats__wrapper-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 51px;
  margin-bottom: 28px; }

.stats__icon {
  fill: #fff; }
  .stats__icon--orange {
    width: 51px;
    height: 48px;
    fill: #fc5f45; }
  .stats__icon--turquoise {
    width: 47px;
    height: 51px;
    fill: #38c695; }
  .stats__icon--purple {
    width: 51px;
    height: 44px;
    fill: #b27cf5; }
  .stats__icon--yellow {
    width: 51px;
    height: 46px;
    fill: #feb960; }

.stats__number {
  margin-bottom: 28px;
  font-size: 20px;
  font-weight: 500; }

@media (max-width: 576px) {
  .stats__wrapper {
    padding-top: 50px;
    padding-bottom: 50px; }
  .stats__list {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-basis: 100%;
    flex-basis: 100%; }
  .stats__item {
    max-width: 47%;
    width: 47%;
    margin-bottom: 50px;
    padding-bottom: 45px; }
    .stats__item:nth-last-child(-n+2) {
      margin-bottom: 0; } }

@media (max-width: 365px) {
  .stats__item {
    max-width: 100%;
    width: 100%; }
    .stats__item:nth-last-child(-n+2) {
      margin-bottom: 50px; }
    .stats__item:last-child {
      margin-bottom: 0; } }

.steps {
  background-color: #fff; }

.steps__wrapper {
  position: relative;
  padding-top: 135px;
  padding-bottom: 150px; }

.steps__header {
  margin-bottom: 130px; }

.steps__item {
  width: 556px;
  height: 300px;
  margin: 0 auto; }
  .steps__item--first {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(rgba(252, 95, 69, 0.2))), #fff url("../img/raster/step-1.jpg") no-repeat center;
    background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 0%, rgba(252, 95, 69, 0.2) 100%), #fff url("../img/raster/step-1.jpg") no-repeat center;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(252, 95, 69, 0.2) 100%), #fff url("../img/raster/step-1.jpg") no-repeat center;
    background-size: cover; }
  .steps__item--second {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(rgba(56, 198, 149, 0.3))), #fff url("../img/raster/step-2.jpg") no-repeat center;
    background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 0%, rgba(56, 198, 149, 0.3) 100%), #fff url("../img/raster/step-2.jpg") no-repeat center;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(56, 198, 149, 0.3) 100%), #fff url("../img/raster/step-2.jpg") no-repeat center;
    background-size: cover; }
  .steps__item--third {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(rgba(178, 124, 245, 0.3))), #fff url("../img/raster/step-3.jpg") no-repeat center;
    background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 0%, rgba(178, 124, 245, 0.3) 100%), #fff url("../img/raster/step-3.jpg") no-repeat center;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(178, 124, 245, 0.3) 100%), #fff url("../img/raster/step-3.jpg") no-repeat center;
    background-size: cover; }
  .steps__item--four {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(rgba(254, 185, 96, 0.2))), #fff url("../img/raster/step-4.jpg") no-repeat center;
    background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 0%, rgba(254, 185, 96, 0.2) 100%), #fff url("../img/raster/step-4.jpg") no-repeat center;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(254, 185, 96, 0.2) 100%), #fff url("../img/raster/step-4.jpg") no-repeat center;
    background-size: cover; }

.steps__info {
  position: relative;
  width: 458px;
  margin-top: -50px;
  padding: 45px 50px 70px 120px;
  font: 400 15px/1.8em "Poppins", "Arial", sans-serif;
  background-color: #fff;
  border-bottom: 3px solid #000;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
  .steps__info--left {
    float: left;
    margin-left: -293px; }
  .steps__info--right {
    float: right;
    margin-right: -293px; }
  .steps__info::before {
    content: "01";
    position: absolute;
    top: 36px;
    left: 40px;
    font: 700 45px/1 "Libre Baskerville", "Georgia", serif;
    color: #e0e0e0; }
  .steps__info::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 28px;
    width: 115px;
    height: 2px;
    background-color: #e0e0e0;
    -webkit-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    transform: rotate(-50deg); }
  .steps__info--orange {
    border-color: #fc5f45; }
    .steps__info--orange::before {
      content: "01"; }
  .steps__info--turquoise {
    border-color: #38c695; }
    .steps__info--turquoise::before {
      content: "02"; }
  .steps__info--purple {
    border-color: #b27cf5; }
    .steps__info--purple::before {
      content: "03"; }
  .steps__info--yellow {
    border-color: #feb960; }
    .steps__info--yellow::before {
      content: "04"; }

.steps__title {
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  color: #313131; }

@media (max-width: 1200px) {
  .steps__item {
    width: 100%;
    height: auto;
    padding-bottom: 50px; }
  .steps__info {
    float: none;
    margin-top: 0; }
    .steps__info--left {
      margin-left: 0; }
    .steps__info--right {
      margin-right: 0;
      margin-left: auto; } }

@media (max-width: 768px) {
  .steps__wrapper {
    padding-top: 85px;
    padding-bottom: 70px; }
  .steps__header {
    margin-bottom: 50px; }
  .steps__info {
    padding-bottom: 50px; } }

@media (max-width: 576px) {
  .steps__info {
    width: 100%;
    padding: 30px 30px 30px 90px; }
    .steps__info::before {
      top: 20px;
      left: 20px; }
    .steps__info::after {
      display: none; }
  .steps__text {
    margin-left: -70px; } }

.pricing {
  background-color: #f7f7f7; }

.pricing__wrapper {
  position: relative;
  padding-top: 135px;
  padding-bottom: 150px; }

.pricing__header {
  margin-bottom: 80px; }

.pricing__table {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.pricing__list {
  max-width: 360px;
  width: 31.57%;
  padding: 33px 0 37px;
  font: 400 15px/2.6 "Poppins", "Arial", sans-serif;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-top: 3px solid #000;
  -webkit-transition: box-shadow .3s;
  transition: box-shadow .3s; }
  .pricing__list:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); }
  .pricing__list--turquoise {
    border-color: #38c695; }
  .pricing__list--orange {
    border-color: #fc5f45; }
  .pricing__list--purple {
    border-color: #b27cf5; }

.pricing__item:last-child {
  margin-top: 17px; }

.pricing__item b {
  color: #313131; }

.pricing__title {
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #313131; }

.pricing__price {
  width: 112px;
  height: 112px;
  margin: auto;
  margin-bottom: 27px;
  padding-top: 36px;
  font-size: 25px;
  line-height: 20px;
  color: #fff;
  border-radius: 50%;
  box-sizing: border-box; }
  .pricing__price--turquoise {
    background: -webkit-radial-gradient(#38c695 0, #38c695 50px, transparent 51px, transparent 53px, #38c695 54px, #38c695 56px);
    background: radial-gradient(#38c695 0, #38c695 50px, transparent 51px, transparent 53px, #38c695 54px, #38c695 56px); }
  .pricing__price--orange {
    background: -webkit-radial-gradient(#fc5f45 0, #fc5f45 50px, transparent 51px, transparent 53px, #fc5f45 54px, #fc5f45 56px);
    background: radial-gradient(#fc5f45 0, #fc5f45 50px, transparent 51px, transparent 53px, #fc5f45 54px, #fc5f45 56px); }
  .pricing__price--purple {
    background: -webkit-radial-gradient(#b27cf5 0, #b27cf5 50px, transparent 51px, transparent 53px, #b27cf5 54px, #b27cf5 56px);
    background: radial-gradient(#b27cf5 0, #b27cf5 50px, transparent 51px, transparent 53px, #b27cf5 54px, #b27cf5 56px); }
  .pricing__price small {
    font-size: 13px; }

@media (max-width: 768px) {
  .pricing__wrapper {
    padding-top: 85px;
    padding-bottom: 70px; }
  .pricong__header {
    margin-bottom: 50px; }
  .pricing__table {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .pricing__list {
    max-width: 80%;
    width: 80%;
    margin: auto;
    margin-bottom: 50px; }
    .pricing__list:last-child {
      margin-bottom: 0; } }

@media (max-width: 576px) {
  .pricing__list {
    max-width: 100%;
    width: 100%; } }

.testimonials {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(38, 39, 50, 0.85)), to(rgba(38, 39, 50, 0.85))), #3f4049 url("../img/raster/bg-testimonials.jpg") no-repeat top;
  background: -webkit-linear-gradient(bottom, rgba(38, 39, 50, 0.85), rgba(38, 39, 50, 0.85)), #3f4049 url("../img/raster/bg-testimonials.jpg") no-repeat top;
  background: linear-gradient(to top, rgba(38, 39, 50, 0.85), rgba(38, 39, 50, 0.85)), #3f4049 url("../img/raster/bg-testimonials.jpg") no-repeat top;
  background-attachment: fixed;
  background-size: cover; }

.testimonials__wrapper {
  position: relative;
  padding-top: 135px;
  padding-bottom: 150px; }

.testimonials__header {
  margin-bottom: 80px; }

@media (max-width: 768px) {
  .testimonials__wrapper {
    padding-top: 85px;
    padding-bottom: 70px; }
  .testimonials__header {
    margin-bottom: 50px; } }

.feedbacks {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; }

.feedbacks__wrapper {
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
  .feedbacks__wrapper::after {
    content: '';
    display: block;
    clear: both; }

.feedbacks__item {
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-sizing: border-box; }

.feedbacks__img-wrapper {
  position: relative;
  display: block;
  width: 384px;
  height: 400px;
  box-sizing: border-box; }
  .feedbacks__img-wrapper::before {
    content: '';
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    border: 10px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box; }

.feedbacks__img {
  display: block;
  width: 100%;
  height: 100%; }

.feedbacks__content {
  position: relative;
  width: 755px;
  padding: 30px 55px 35px;
  font: 500 15px/1.2 "Poppins", "Arial", sans-serif;
  background-color: #fff;
  box-sizing: border-box; }
  .feedbacks__content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, #fc5f45), color-stop(25%, #38c695), color-stop(50%, #38c695), color-stop(50%, #b27cf5), color-stop(75%, #b27cf5), color-stop(75%, #feb960), to(#feb960));
    background: -webkit-linear-gradient(left, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%, #feb960 100%);
    background: linear-gradient(to right, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%, #feb960 100%); }

.feedbacks__autor-img {
  display: none; }

.feedbacks__text {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 400;
  line-height: 1.8;
  color: #616161; }

.feedbacks__autor-name {
  margin-bottom: 7px;
  font: 400 40px/1.2 "Sacramento", "Comic Sans", cursive;
  color: #272727; }

.feedbacks__autor-fullname {
  margin-bottom: 7px;
  font-size: 18px;
  font-style: normal;
  color: #272727; }

.feedbacks__autor-founder {
  font-style: normal;
  color: #fc5f45; }

.feedbacks__controls {
  position: absolute;
  bottom: 0;
  right: 0; }

.feedbacks__dot {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: border-color .3 ease-in-out;
  transition: border-color .3 ease-in-out; }

.feedbacks__dot:last-child {
  margin-right: 0; }

.feedbacks__dot.active {
  border-color: #fc5f45; }
  .feedbacks__dot.active::before {
    content: '';
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    background-color: #fc5f45;
    border-radius: 50%;
    -webkit-transition: background-color .3 ease-in-out;
    transition: background-color .3 ease-in-out; }

.feedbacks__dot:hover {
  border-color: #fc492c; }

.feedbacks__dot.active:hover::before {
  background-color: #fc492c; }

@media (max-width: 1170px) {
  .feedbacks {
    padding-bottom: 30px; }
  .feedbacks__content {
    width: 100%;
    background-color: #fff; }
  .feedbacks__img-wrapper {
    display: none; }
  .feedbacks__autor-img {
    float: left;
    display: block;
    max-width: 100px;
    margin-right: 20px; }
  .feedbacks__controls {
    left: 0;
    text-align: center; } }

@media (max-width: 576px) {
  .feedbacks__content {
    padding: 30px; } }

@media (max-width: 460px) {
  .feedbacks__autor-img {
    display: none; } }

.features {
  background-color: #fff; }
  .features__inner {
    position: relative;
    padding-top: 135px;
    padding-bottom: 150px;
    overflow: hidden; }
  .features__header {
    margin-bottom: 80px; }

.features__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 80px; }

.features__item {
  width: calc(1/3*100% - (1 - 1/3)*30px);
  margin-bottom: 60px;
  font: 400 15px/1.8 "Poppins", "Arial", sans-serif;
  color: #616161; }

.features__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin-bottom: 20px; }

.features__icon {
  margin-right: 15px; }
  .features__icon--orange {
    fill: #fc5f45; }
  .features__icon--turquoise {
    fill: #38c695; }
  .features__icon--purple {
    fill: #b27cf5; }
  .features__icon--yellow {
    fill: #feb960; }

.features__title {
  font: 500 18px/1.44 "Poppins", "Arial", sans-serif;
  color: #313131;
  margin-top: -4px; }

.features__start {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.features__caption {
  margin-right: 25px;
  font-size: 25px;
  line-height: 26px;
  font-weight: 400;
  color: #313131; }

@media (max-width: 768px) {
  .features__inner {
    padding-top: 85px;
    padding-bottom: 70px; }
  .feature__header {
    margin-bottom: 50px; }
  .features__item {
    width: 45%;
    margin-bottom: 50px; }
  .features__start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column; }
  .features__caption {
    margin-right: 0;
    margin-bottom: 25px;
    text-align: center; } }

@media (max-width: 576px) {
  .features__list {
    margin-bottom: 40px; }
  .features__item {
    width: 100%; } }

.blog {
  background-color: #f7f7f7; }

.blog__inner {
  position: relative;
  padding-top: 135px;
  padding-bottom: 150px; }

.blog__header {
  margin-bottom: 80px; }

.blog__posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.blog__item {
  width: calc(1/2*100% - (1 - 1/2)*30px); }

@media (max-width: 768px) {
  .blog__posts {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .blog__item {
    width: 100%; } }

@media (max-width: 768px) {
  .blog__inner {
    padding-top: 85px;
    padding-bottom: 70px; }
  .blog__header {
    margin-bottom: 50px; } }

.post {
  font: 400 15px/1.8 "Poppins", "Arial", sans-serif;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .post--regular {
    margin-bottom: 24px;
    padding: 19px 36px 27px; }
    .post--regular:last-child {
      margin-bottom: 0; }
  .post--line_orange {
    border-bottom: 3px solid #fc5f45; }
  .post--line_turquoise {
    border-bottom: 3px solid #38c695; }
  .post--line_purple {
    border-bottom: 3px solid #b27cf5; }
  .post--line_yellow {
    border-bottom: 3px solid #feb960; }

.post-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.post__img {
  display: block; }
  .post__img img {
    width: 100%; }

.post--featured {
  padding-bottom: 35px; }
  .post--featured .post__info {
    position: relative;
    margin-bottom: 40px;
    margin-top: -50px;
    padding: 0 50px; }
  .post--featured .post__date {
    color: #fff;
    opacity: .7; }
  .post--featured .post__content {
    padding: 0 50px; }
  .post--featured .post__link {
    margin-bottom: 17px; }

.post__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }

.post__autor {
  margin-right: 25px;
  line-height: 35px;
  font-weight: 500;
  text-transform: uppercase; }
  .post__autor--orange {
    color: #fc5f45; }
  .post__autor--turquoise {
    color: #38c695; }
  .post__autor--purple {
    color: #b27cf5; }
  .post__autor--yellow {
    color: #feb960; }

.post__date {
  font-size: 13px;
  line-height: 35px; }

.post__link {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 35px;
  font-weight: 500;
  text-decoration: none;
  color: #313131; }
  .post__link:hover {
    text-decoration: underline; }

@media (max-width: 768px) {
  .post--featured {
    margin-bottom: 24px; }
    .post--featured .post__info {
      padding-left: 36px; }
    .post--featured .post__content {
      padding-left: 36px; } }

@media (max-width: 576px) {
  .post--featured .post__info {
    padding-left: 20px;
    padding-right: 20px; }
  .post--featured .post__content {
    padding-left: 20px;
    padding-right: 20px; }
  .post--regular {
    padding-left: 20px;
    padding-right: 20px; } }

@media (max-width: 380px) {
  .post__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column; }
  .post__autor,
  .post__date {
    line-height: 25px; } }

.subscribe {
  background-color: #fff; }

.subscribe__inner {
  padding-top: 123px;
  padding-bottom: 150px; }

.subscribe__header {
  margin-bottom: 27px;
  font: 400 30px/2.5 "Poppins", "Arial", sans-serif;
  color: #313131;
  text-align: center; }

.subscribe__form {
  text-align: center;
  font-size: 0; }

.subscribe__email {
  width: 300px;
  height: 50px;
  margin-top: -2px;
  padding: 15px 28px;
  font: 400 16px/1 "Poppins", "Arial", sans-serif;
  color: #616161;
  border: 2px solid #e2e2e2;
  border-right-width: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  outline: none;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .subscribe__email:hover {
    border-color: #c9c9c9; }
  .subscribe__email:active, .subscribe__email:focus {
    border-color: #fc492c; }
  .subscribe__email:active:invalid, .subscribe__email:focus:invalid {
    border-color: #b30000; }
  .subscribe__email::-webkit-input-placeholder {
    font: 400 16px/1 "Poppins", "Arial", sans-serif;
    color: #616161;
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s; }
  .subscribe__email::-moz-placeholder {
    font: 400 16px/1 "Poppins", "Arial", sans-serif;
    color: #616161;
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s; }
  .subscribe__email:-ms-input-placeholder {
    font: 400 16px/1 "Poppins", "Arial", sans-serif;
    color: #616161;
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s; }
  .subscribe__email::-ms-input-placeholder {
    font: 400 16px/1 "Poppins", "Arial", sans-serif;
    color: #616161;
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s; }
  .subscribe__email::placeholder {
    font: 400 16px/1 "Poppins", "Arial", sans-serif;
    color: #616161;
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s; }
  .subscribe__email:focus::-webkit-input-placeholder {
    opacity: 0; }
  .subscribe__email:focus::-moz-placeholder {
    opacity: 0; }
  .subscribe__email:focus:-ms-input-placeholder {
    opacity: 0; }
  .subscribe__email:focus::-ms-input-placeholder {
    opacity: 0; }
  .subscribe__email:focus::placeholder {
    opacity: 0; }

.subscribe__button {
  box-shadow: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  vertical-align: bottom; }

@media (max-width: 768px) {
  .subscribe__inner {
    padding-top: 85px;
    padding-bottom: 70px; } }

@media (max-width: 576px) {
  .subscribe__header {
    line-height: 1.3; }
  .subscribe__email {
    width: 270px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; }
  .subscribe__button {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; } }

@media (max-width: 520px) {
  .subscribe__email {
    margin-bottom: 25px; } }
