@mixin fontFace($family, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    // src: url('#{$folder-fonts+$src}.eot'); // IE9 compat
    src: // url('#{$folder-fonts+$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
    url('#{$folder-fonts + $src}.woff') format('woff'),
    url('#{$folder-fonts + $src}.woff2') format('woff2'),
    url('#{$folder-fonts + $src}.ttf') format('truetype'); // Safari, Android, iOS

    font-style: $style;
    font-weight: $weight;
    font-display: auto;
  }
}
