$folder-img: '../img/'; // путь к изображениям
$folder-raster: '../img/raster/'; // путь к растровым изображениям
$folder-vector: '../img/vector/'; // путь к векторным изображениям
$folder-fonts: '../fonts/'; // путь к шрифтам

//colors
$white: #fff;
$black: #000;
$gray: #616161;
$gray--dark: #313131;
$orange: #fc5f45;
$turquoise: #38c695;
$purple: #b27cf5;
$purple--dark: #3f4049;
$yellow: #feb960;
$color-text: $gray;
$color-title: $gray--dark;
$color-nav: #272727;
$bg-white: $white;
$bg-purple: $purple--dark;
$border-color: #e2e2e2;
$border-color-hover: darken($border-color, 10);

// fonts
$font-family-base: 'Poppins', 'Arial', sans-serif;
$font--family-logo: 'Wisdom Script', 'Comic Sans', cursive;
$font-family-1: 'Libre Baskerville', 'Georgia', serif;
$font-family-2: 'Sacramento', 'Comic Sans', cursive;
$font-size: 15px;
