.about {
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 225px;
    padding-bottom: 225px;
  }

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    width: 555px;
    max-height: 700px;
    background-color: #9e9e9e;
    border: 10px solid #9f9e9e;
    box-sizing: border-box;
  }

  &__content {
    position: relative;
    width: 650px;
    margin-left: auto;
    margin-right: 0;
    padding: 77px 85px 100px;
    background-color: $white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    &::before {
      content: "01";
      position: absolute;
      top: -25px;
      left: 0;
      z-index: 0;
      font-size: 276px;
      color: rgba(#e0e0e0, .5);
      font-weight: 700;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: linear-gradient(to right, $orange 25%, $turquoise 25%, $turquoise 50%, $purple 50%, $purple 75%, $yellow 75%, $yellow 100%);
    }
  }

  &__title {
    position: relative;
    margin-bottom: 20px;
    font: bold 50px/1.6 $font-family-1;
    text-align: left;
    color: $color-title;
  }

  &__text {
    position: relative;
    margin-bottom: 27px;
    font: normal 15px/1.8 $font-family-base;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 960px) {
  .about {
    &__wrapper {
      padding-top: 150px;
      padding-bottom: 150px;
    }

    &__img {
      width: 450px;
      max-height: 562px;
    }

    &__content {
      width: 60%;
      padding: 60px 60px 70px;
    }

    &__title {
      margin-bottom: 15px;
      font-size: 40px;
    }

    &__text {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.5;
    }
  }
}

@media (max-width: 768px) {
  .about {
    &__wrapper {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    &__title {
      font-size: 35px
    }

    &__img {
      display: none;
    }

    &__content {
      width: 100%;
      padding: 50px 50px 60px;
    }
  }
}

@media (max-width: 576px) {
  .about {
    &__wrapper {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &__content {
      padding: 20px 20px 30px;
    }
  }
}
