.features {
  background-color: $bg-white;

  &__inner {
    position: relative;
    padding-top: 135px;
    padding-bottom: 150px;
    overflow: hidden;
  }

  &__header {
    margin-bottom: 80px;
  }
}

.features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.features__item {
  width: calc(1/3*100% - (1 - 1/3)*30px);
  margin-bottom: 60px;
  font: 400 15px/1.8 $font-family-base;
  color: $color-text;
}

.features__heading {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.features__icon {
  margin-right: 15px;

  &--orange {
    fill: $orange;
  }

  &--turquoise {
    fill: $turquoise;
  }

  &--purple {
    fill: $purple;
  }

  &--yellow {
    fill: $yellow;
  }
}

.features__title {
  font: 500 18px/1.44 $font-family-base;
  color: $color-title;
  margin-top: -4px;
}

.features__start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__caption {
  margin-right: 25px;
  font-size: 25px;
  line-height: 26px;
  font-weight: 400;
  color: $color-title;
}


@media (max-width: $width-md) {

  .features__inner {
    padding-top: 85px;
    padding-bottom: 70px;
  }

  .feature__header {
    margin-bottom: 50px;
  }

  .features__item {
    width: 45%;
    margin-bottom: 50px;
  }

  .features__start {
    flex-direction: column;
  }

  .features__caption {
    margin-right: 0;
    margin-bottom: 25px;
    text-align: center;
  }
}


@media (max-width: $width-sm) {

  .features__list {
    margin-bottom: 40px;
  }

  .features__item {
    width: 100%;
  }
}
