.logo {
  font-family: $font--family-logo;
  line-height: 35px;
  color: $color-text;
  text-decoration: none;

  &::first-letter {
    color: $orange;
  }

  &--header {
    margin-top: -10px;
    font-size: 35px;
  }

  &--footer {
    height: 50px;
    font-size: 50px;
    color: $white;

    span {
      color: $orange;
    }
  }
}

@media (max-width: $width-lg) {
  .logo--header {
    margin-bottom: 25px;
  }
}
