.main-nav {
  position: fixed;
  max-width: 100%;
  width: 100vw;
  background-color: $bg-white;
  box-shadow: 0 10px 24px rgba($black, .25);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 25px 15px 25px;
  }

  &__toggle {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1;
    color: $color-nav;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }


    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: transparent;
      transform: translateY(28px) scaleX(0);
      transition: all .3s;
    }

    &:hover::after,
    &--active::after {
      background-color: $orange;
      transform: translateY(28px) scaleX(1);
    }
  }
}


@media (max-width: 960px) {
  .main-nav__wrapper {
    position: relative;
    flex-direction: column;
    max-width: 100%;
    padding: 25px 0 0;
  }

  .main-nav__toggle {
    position: absolute;
    top: 22px;
    right: 15px;
    display: inline-block;
    width: 40px;
    height: 32px;
    padding: 0;
    font-size: 0;
    background: transparent;
    border:none;
    outline: none;
    cursor: pointer;
    transition: opacity .3s;


    &:hover {
      opacity: .7;
    }

    &:active {
      opacity: .5;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 2px;
      margin-top: -1px;
      margin-left: -12px;
      background-color: $gray;
      transition: opacity .3s;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 24px;
        height: 2px;
        background-color: $gray;
        transition: opacity .3s;
      }

      &::before {
        top: -6px;
      }

      &::after {
        top: 6px;
      }
    }
  }

  .main-nav--open {
    .main-nav__toggle span {
      height: 0;
    }

    .main-nav__toggle span::before {
      top: 0;
      transform: rotate(45deg);
    }

    .main-nav__toggle span::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }

  .main-nav__list {
    display: none;
    transition: all .5s;
  }

  .main-nav--open {
    .main-nav__list {
      display: block;
      width: 100%;
      transform: translateY(0);
    }
  }

  .main-nav__item {
    margin-right: 0;
    border-bottom: 1px solid #e2e2e2;
    transition: all .3s;

    &:first-child {
      border-top: 1px solid #e2e2e2;
    }

    &:hover {
      padding-left: 10px;
      box-shadow: 0 0 7px (rgba($black, .4));
      border-bottom-color: transparent;
    }
  }

  .main-nav__link {
    font-size: 16px;
    display: block;
    padding: 15px 0;
    padding-left: 30px;

    &::after {
      display: none;
    }
  }
}
