.services {
  background-color: #f7f7f7;

  &__wrapper {
    position: relative;
    padding-top: 135px;
    padding-bottom: 150px;
  }

  &__header {
    margin-bottom: 80px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 22.98%;
    margin-right: 30px;
    padding: 60px 35px;
    background-color: $white;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    border-bottom: 3px solid #000;

    &:last-child {
      margin-right: 0;
    }

    &--orange {
      border-color: $orange;
    }

    &--turquoise {
      border-color: $turquoise;
    }

    &--purple {
      border-color: $purple;
    }

    &--yellow {
      border-color: $yellow;
    }
  }

  &__icon {
    height: 49px;
    margin-bottom: 27px;

    &--web {
      fill: $orange;
    }

    &--ux {
      fill: $turquoise;
    }

    &--photogrpahy {
      fill: $purple;
    }

    &--appdevelop {
      fill: $yellow;
    }
  }

  &__heading {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    color: $color-title;
  }

  &__text {
    max-width: 100%;
    font-size: 15px;
    line-height: 25px;
  }
}

@media (max-width: $width-lg) {

  .services__list {
    flex-wrap: wrap;
  }

  .services__item {
    width: 45%;
    margin-right: 0;
    margin-bottom: 30px;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $width-md) {

  .services__wrapper {
    padding-top: 85px;
    padding-bottom: 70px;
  }

  .services__header {
    margin-bottom: 50px;
  }

  .services__item {
    padding: 40px 25px 40px;
  }
}

@media (max-width: $width-sm) {

  .services__item {
    width: 100%;
    margin-bottom: 30px;

    &:nth-last-child(-n+2) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
