// import libs
@import "../../node_modules/normalize-scss/sass/normalize/import-now";

// import components
@import "components/vars.scss";
@import "components/mixins.scss";
@import "components/fonts.scss";
@import "components/scaffolding.scss";

// import blocks
@import "blocks/container";
@import "blocks/button";
@import "blocks/main-header";
@import "blocks/main-nav";
@import "blocks/logo";
@import "blocks/promo";
@import "blocks/section-header";
@import "blocks/about";
@import "blocks/services";
@import "blocks/video";
@import "blocks/portfolio";
